body{
    font-family: system-ui;
    margin: 20px
}

/* verkefni 2.1 */
.marginBox{
    border: 5px solid red;
    margin: 40px;
    padding: 40px;
}

.box1{
    border: 3px solid green;
    padding: 10px;
    margin: 0;
}

.box2{
    border: 3px solid green;
    padding: 10px;
    margin: 0;
    color: red;
}

.box3{
    border: 4px dashed blue;
    padding: 20px;
    margin: 0;
    color: blue;
}

/* verkefni 2.2 */
.listBoxBlock{
    display: block;
    border: 3px dashed green;
    padding: 1em;
    margin: 1em;
}

.listBoxInLine{
    display: inline;
    border: 3px dashed blue;
    padding: 1em;
    margin: 1em;
}

.listBoxInLineBlock{
    display: inline-block;
    border: 3px dashed red;
    padding: 1em;
    margin: 1em;
}

/* verkefni 2.3 */

.floatContainer{
    width: 100%;
}

.floatBox {
    width: 49.5%;
    border: 2px solid black;
    padding: 15px;
    box-sizing: border-box;
}

.leftFloat{
    float: left;
}

.rightFloat{
    float: right;
}

.dropcap{
    float: left;
    font-size: 60px;
    padding-right: 10px;
    line-height: 50px;
}

.floatImage{
    float: right;
    width: 150px;
    border-radius: 15px;
    margin-left: 10px;
}

.clearFloat{
    clear: both;
}

.warningBox{
    border: 2px solid black;
    padding: 15px;
    margin-top: 20px;
}

.warningTitle{
    background: yellow;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
}
